.varousel {
	height:100%;
	width:100%;
	overflow-y:auto;
	position:relative;
}

.window {
	position:absolute;
	top:0px;
	width:100%;
	overflow-y:hidden;
	overflow-x:hidden;

	h5 {
		border-bottom:1px solid black;
		font-size:1em;
		height:25px;
		margin:0px;
		padding:0px;

		span {
			cursor:pointer;

			&.headertool {
				margin-left:0.5em;
			}
		}
	}

	img {
		border:1px solid black;

		&.selected {
			border-color:red;
			opacity:70%;
		}
	}

}

.divthumb {
	//margin:0px;
	margin:5px;
	float:left;
}
