<div id="admin">
 <div id="tools" class="btn-group" role="group">
  <p class="form-inline">Page <select class="form-control" ng-change="selectPage()" ng-model="selectedPage" ng-options="option.index for option in pages track by option.index"></select>&nbsp;<span class="btn btn-primary btn-sm" ng-click="pager(-1)">&lt;</span>
  <span class="btn btn-primary btn-sm" ng-click="pager(+1)">&gt;</span>
  <span class="btn btn-primary btn-sm" ng-click="selectImages(selectNone)">Select none</span>
  <span class="btn btn-primary btn-sm" ng-click="selectImages(selectAll)">Select all</span>
  <span class="btn btn-primary btn-sm" ng-click="selectImages(selectCurrentPage)">Select page</span>
  <span class="btn btn-primary btn-sm applytags">Apply tags</span>
  <span class="btn btn-primary btn-sm delete">Delete</span>
  </p>
 </div>
 <div id="adminimages">
  <img ng-repeat="i in currentImages" ng-src="pictures/{{i.dir}}.thumb/{{i.image}}" height="{{i.height}}" width="{{i.width}}" ng-click="viewImage(i)" tagal-metadata="dblclick" admin-select="{{$index}}" class="{{i.selected ? 'selected' : null}}">
 </div>
</div>
