<div id="header">
	<!-- TODO - Show the number of images currently showing -->
	<button *ngFor="let tag of currentTags" type="button" class="btn btn-primary" (click)="deselectTag(tag)">{{tag.label}}</button>
</div>
<div id="contentwrapper">
	<div id="content">
		<div id="tags">
			<button type="button" class="btn btn-primary" (click)="toggleMap()">{{isMapMode ? 'Images' : 'Map'}}</button>
			<ng-container *ngFor="let tag of menuTags">
				<div *ngIf="tag.tags" ngbDropdown class="mt-1">
					<button ngbDropdownToggle class="btn btn-sm btn-primary" type="button">{{tag.type}}</button>
					<div ngbDropdownMenu>
						<a *ngFor="let subtag of tag.tags" class="dropdown-item" href="#" (click)="selectTag(subtag)">{{subtag.label}}</a>
					</div>
				</div>
				<button *ngIf="! tag.tags" type="button" class="btn btn-sm btn-secondary mt-1" (click)="selectTag(tag)">{{tag.label}}</button>
			</ng-container>
		</div>
		<div id="main" [ngClass]="{'vertical':isVerticalView, 'horizontal':!isVerticalView, 'hideThumbs': mainImage}" #main>
		<!-- Cannot use ngIf on the main verticalmainimage block as it needs to exist to check the available width and height -->
		<div id="verticalimage" #verticalmainimage [ngClass]="mainImageLoading ? 'loading' : ''" [ngStyle]="{'display': mainImage ? '' : 'none'}">
			<div class="controls">
				<button type="button" class="btn btn-primary" (click)="prevMain()">Previous</button>
				<button type="button" class="btn btn-primary" (click)="nextMain()">Next</button>
				<button type="button" class="btn btn-primary" (click)="download()">Download</button>
				<button type="button" class="btn btn-primary" (click)="hideMainImage()">Close</button>
			</div>
			<!--
			<div *ngIf="mainImage" class="reportblock" [ngStyle]="{'height.px':mainImage.height, 'width.px': mainImage.width}" (click)="hideMainImage()">
				<p>Width : {{mainImage.width}}</p>
				<p>Height : {{mainImage.height}}</p>
			</div>
			-->
			<img *ngIf="mainImage && ! mainImage.v" class="rounded" [src]="mainImage.previewSrc ? mainImage.previewSrc : mainImage.src" [height]="mainImage.height" [width]="mainImage.width" (click)="hideMainImage()" (load)="mainImageLoaded()" />
			<video *ngIf="mainImage && mainImage.v" controls="controls" autoplay="autoplay" name="media" [height]="mainImage.height" [width]="mainImage.width">
				<source src="{{mainImage.src}}" />
			</video>
		</div>
			<app-map *ngIf="isMapMode" [points]="currentPoints">
			</app-map>
			<app-varousel *ngIf="!isMapMode && isVerticalView" #varousel></app-varousel>
			<ng-container *ngIf="!isMapMode && !isVerticalView">
				<div id="image" #mainimage>
					<img class="rounded" *ngIf="mainImage" [src]="mainImage.previewSrc ? mainImage.previewSrc : mainImage.src" [height]="mainImage.height" [width]="mainImage.width" />
				</div>
				<div id="thumbnails">
					<app-carousel #carousel (selectedThumb)="viewImageFromThumb($event)"></app-carousel>
				</div>
			</ng-container>
		</div>
	</div>
</div>
