<div id="header">
	<!-- TODO - Show the number of images currently showing -->
	<button *ngFor="let tag of currentTags" type="button" class="btn btn-primary" (click)="deselectTag(tag)">{{tag.label}}</button>
</div>
<div id="contentwrapper">
	<div id="content">
		<div id="tags">
			<button type="button" class="btn btn-primary" (click)="toggleMap()">{{isMapMode ? 'Images' : 'Map'}}</button>
			<ng-container *ngFor="let tag of menuTags">
				<div *ngIf="tag.tags" ngbDropdown class="mt-1">
					<button ngbDropdownToggle class="btn btn-sm btn-primary" type="button">{{tag.type}}</button>
					<div ngbDropdownMenu>
						<a *ngFor="let subtag of tag.tags" class="dropdown-item" href="#" (click)="selectTag(subtag)">{{subtag.label}}</a>
					</div>
				</div>
				<button *ngIf="! tag.tags" type="button" class="btn btn-sm {{tag.primary ? 'btn-primary' : 'btn-secondary'}} mt-1" (click)="selectTag(tag)">{{tag.label}}</button>
			</ng-container>
	  </div>

		<div id="main" #main>
			<div *ngIf="mainImage">
				<div id="image">
					<div class="controls">
						<button type="button" class="btn btn-primary">D</button>
						<button type="button" class="btn btn-primary" (click)="prevMain()">&lt;</button>
						<button type="button" class="btn btn-primary" (click)="nextMain()">&gt;</button>
						<button type="button" class="btn btn-primary" (click)="hideMainImage()">X</button>
					</div>
					<img *ngIf="mainImage && ! mainImage.v" class="rounded" [src]="mainImage.previewSrc ? mainImage.previewSrc : mainImage.src" [height]="mainImageHeight" [width]="mainImageWidth" (load)="mainImageLoaded()" />
					<video *ngIf="mainImage && mainImage.v" #video controls="controls" autoplay="autoplay" name="media" [height]="mainImageHeight" [width]="mainImageWidth">
						<source src="{{mainImage.src}}" />
					</video>
				</div>
				<div id="thumbnails">
					<app-carousel #carousel [mainciindex]="mainciindex" (selectedThumb)="viewImageFromThumb($event)"></app-carousel>
				</div>
			</div>
			<ng-container *ngIf="! mainImage">
				<app-map      *ngIf="isMapMode"  #map (selectedThumb)="selectTagHideMap($event)" (selectedPoint)="selectTagHideMap($event)"></app-map>
				<app-varousel *ngIf="!isMapMode" #varousel [mainciindex]="mainciindex" (selectedThumb)="viewImageFromThumb($event)"></app-varousel>
			</ng-container>
		</div>
	</div>
</div>
