@import '../../variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

$tags-width: 200px;
$thumbnail-height: 150px;

#header {
	height:60px;
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
}

#contentwrapper {
	height:100vh;
	box-sizing:border-box;
	padding-top:60px;
	overflow:hidden;
}

#content {
	height:100%;
	box-sizing:content-box;
	padding:0px;
	position:relative;
}

#tags {
	@extend .bg-light;

	overflow-y:auto;
	height:100%;
	width:$tags-width;
	position:absolute;
	left:0px;
	top:0px;

	button {
		display:block;
		width:100%;
	}
}

#main {
	height:100%;
	margin-left:$tags-width;
	position:relative;
}

#main.horizontal {
	padding-bottom:$thumbnail-height;
}

#main.vertical {
	overflow-y:auto;
}

#main.vertical.hideThumbs {
	overflow-y:hidden;
}

#main.vertical .controls {
	position:absolute;
	right:0px;
	top:0px;
	z-index:2;
}

.divthumb {
	//margin:0px;
	margin:5px;
	float:left;
}

#verticalWindow {
	position:absolute;
	top:0px;
	width:100%;
	overflow-y:hidden;
	overflow-x:hidden;
}

#verticalWindow h5 {
	border-bottom:1px solid black;
	font-size:1em;
	height:25px;
	margin:0px;
	padding:0px;
}

#verticalWindow img {
	border:1px solid black;
}

.hideThumbs #verticalWindow {
	visibility:hidden;
}

div.reportblock {
	border:1px solid black;
	background-color:green;
}

#thumbnails {
	@extend .bg-light;
	position:absolute;
	bottom:0px;
	width:100%;
	overflow-x:auto;
	height:$thumbnail-height;
	border-top:1px solid black;
}

#thumbnails img {
	border-right:1px solid black;
}

#image {
	height:100%;
}

#verticalimage {
	background-color:white;
	height:100%;
	box-sizing:border-box;
	position:absolute;
}
#verticalimage.loading {
		background-image:url('/assets/Spinner-1s-200px.png');
		background-position:center;
		background-repeat:no-repeat;
	}
