<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="tagal" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="tagal" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="tagal" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="tagal" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tagal</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="tagalCtrl">
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
   <span ng-if="APIAvailable" class="btn btn-primary btn-sm" ng-click="swapMode()">{{otherMode}}</span>
   <span ng-repeat="t in usedTags" class="btn btn-primary btn-sm tag{{t.type}}" ng-click="removeTag(t.index)">{{t.label}}</span>
  </div>
 </nav>
 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
    <ul id="menuTags">
	 <li ng-repeat="t in menuTags" class="btn btn-primary btn-sm btn-block tag{{t.type}}" ng-click="addUsedTag(t.index)">{{t.label}}</li>
	</ul>
	</div>
   </div>
   <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main">
	  <!--[if lt IE 7]>
		  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	  <![endif]-->
	  <div ng-view></div>
	</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="app.js"></script>
  <script src="components/directives/directives.js"></script>
  <script src="views/welcome/view.js"></script>
  <script src="views/gallery/view.js"></script>
  <script src="views/admin/view.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="components/metadata/directive.js"></script>
  <script src="components/tagalImages/service.js"></script>
  <script src="js/exif.js"></script>
</body>
</html>
