<div id="gallery">
 <div id="mainimage" image-ready="setHeight()">
  <div class="ng-isolate-scope carousel" ng-show="mainImage">
   <div class="carousel-inner">
    <div class="ng-scope ng-isolate-scope item active">
	 <div class="text-center">
	  <div class="nav">
       <span aria-hidden="true" class="glyphicon glyphicon-chevron-left" ng-click="viewImage('prev')" ng-show="mainImageIndex > 0"></span>
       <span aria-hidden="true" class="glyphicon glyphicon-chevron-right" ng-click="viewImage('next')" ng-show="mainImageIndex != (currentImages.length-1)"></span>
       <span aria-hidden="true" class="glyphicon glyphicon-download" ng-click="download()"></span>
	  </div>
      <img ng-src="{{mainImage.src}}" height="{{mainImage.height}}" width="{{mainImage.width}}" tagal-metadata>
	 </div>
	</div>
   </div>
   <!--
   <a role="button" href="" class="left carousel-control">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left" ng-click="viewImage('prev')" ng-show="mainImageIndex > 0">
	<span class="sr-only">Previous</span>
   </a>
   <a role="button" href="" class="right carousel-control">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right" ng-click="viewImage('next')" ng-show="mainImageIndex != (currentImages.length-1)">
	<span class="sr-only">Next</span>
   </a>
   -->
  </div>
 </div>
 <div id="carousel" on-scroll="scroll()">
  <div class="block" style="width: {{thumbWidth}}px">
   <div class="current" style="left: {{leftPos}}px">
    <img ng-repeat="i in currentImages" ng-src="{{i.src}}" height="{{i.height}}" width="{{i.width}}" ng-click="viewImage($index)">
   </div>
  </div>
 </div>
</div>
