<div id="gallery">
 <div id="mainimage" image-ready="setHeight()">
  <img ng-src="{{rootImageDir}}/{{mainImage.dir}}{{mainImage.image}}" height="{{mainImage.fullHeight}}" width="{{mainImage.fullWidth}}" tagal-metadata>
 </div>
 <div id="carousel" on-scroll="scroll()">
  <div class="block" style="width: {{thumbWidth}}px">
   <div class="current" style="left: {{leftPos}}px">
    <img ng-repeat="i in currentImages" ng-src="{{rootImageDir}}/{{i.dir}}.thumb/{{i.image}}" height="{{i.height}}" width="{{i.width}}" ng-click="viewImage(i)">
   </div>
  </div>
 </div>
</div>
